<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Site.Title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma-rtl.min.css">
</head>

<body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top has-shadow">
        <div class="navbar-menu">
            <a class="navbar-item">
                الرئيسة
            </a>
        </div>
    </nav>
    {{range where .Site.RegularPages "Type" "posts"}}
    <a href="{{.Permalink}}" class="navbar-item">
        {{.Title}}
    </a>
    {{end}}

</body>

</html>